.container{
  padding: 0px !important;
  margin-top: 0px !important;
  height: 100vh;
}

.nav{
  height: 50px;
  background-color: skyblue;
  width:auto;
  color: white;
  margin-top: 0 !important;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-top: 20px;
  
}

.grid-items{
  height:250px;
  background-color: rgb(183, 74, 74);
  margin-right: 100px;
  padding-bottom: 80px;
  margin-bottom: 15px;
}

button, h1, h2{
  margin-left: 50px;
}

p{
  margin-left: 50px;
  font-size: 1.5rem;
}

.button1, .button2{
width: 180px;
font-size: 1rem;
margin-bottom: 4px;
background-color: skyblue;
color: black;
}

.button1{
  margin: 100px 0 5px 50px;
}

.category{
  background-color: orangered;
  font-size: 2rem;
  margin:0;
  color: white;
}

